# file name with extension for ignore particular file
# Course_Schedule.bin

# * .ext for ignore all file of particular extension
*.bin
*.exe

# dir/ to ignore particular directory. 

# negative git ignore tells that should not ignore
# ! file/folder/ext

.cph/
.vscode/

test*